<div class="caixa">
    <div class="titulo">
        <h1>Adicionar novo funcionário</h1>
    </div>
    {{#if dados.alerta}}
    <div class="alert alert-danger" role="alert">
        {{dados.alerta}}
    </div>
    {{/if}}
    <div class="caixote">
        <form action="/add-func" method="post" class="formulario">
            <div class="linha">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                    <input type="text" class="form-control" placeholder="José" aria-label="Nome"
                        aria-describedby="basic-addon1" name="Nome" value="{{{dados.Nome}}}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Cargo</span>
                    <input type="text" class="form-control" placeholder="Serviços Gerais" aria-label="Cargo"
                        aria-describedby="basic-addon1" name="Setor" value="{{{dados.Setor}}}">
                </div>
            </div>
            <div class="linha">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Colaborador</label>
                    <select class="form-select" name="Tipo_Colab" id="inputGroupSelect01">
                        <option selected disabled>Selecione</option>
                        <option value="Efetivo">Efetivo</option>
                        <option value="Voluntário">Voluntário</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Salário</span>
                    <input type="text" class="form-control" placeholder="1500,89" aria-label="Salario"
                        aria-describedby="basic-addon1" name="Salario" value="{{{dados.Salario}}}">
                </div>
            </div>
            <div class="linha">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Contato</span>
                    <input type="text" class="form-control" placeholder="email@email.com" aria-label="Contato"
                        aria-describedby="basic-addon1" name="email" value="{{{dados.email}}}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Senha</span>
                    <input type="text" class="form-control" placeholder="engenharia2019" aria-label="Foto"
                        aria-describedby="basic-addon1" name="senha" value="{{{dados.senha}}}">
                </div>
            </div>
            <div class="linha">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Foto</span>
                    <input type="text" class="form-control" placeholder="assets/img/foto.jpeg" aria-label="Foto"
                        aria-describedby="basic-addon1" name="foto" value="{{{dados.foto}}}">
                </div>
            </div>
            <div class="linha">
                <div class="linha-f">
                    <button class="btn-cancel"><a href="/funcionarios">Voltar</a></button>
                    <button class="btn-go" type="submit">Adicionar</button>
                </div>
            </div>

        </form>
    </div>
</div>

<style>
    .alert {
        transition: 0.5 ease;
    }

    .btn-cancel,
    .btn-go {
        border: none;
        border-radius: 6px;
        padding: 5px;
    }

    .btn-cancel {
        background-color: #a3bf3b;
    }

    .btn-cancel a {
        color: #fefefe;
        text-decoration: none;
    }

    .btn-go {
        background-color: #bf814b;
        color: #fefefe;
    }

    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .caixote {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .formulario {
        background-color: rgba(198, 249, 130, 0.7);
        border-radius: 6px;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 80%;
    }

    .linha {
        margin: 1rem 0;
    }

    .linha,
    .linha-f {
        align-items: center;
        display: flex;
        gap: 1%;
        justify-content: space-evenly;
    }

    .linha-f {
        width: 50%;
    }

    .titulo {
        height: 30%;
        margin: 1.5rem 0;
    }
</style>