<div class="caixa">
    <div class="titulo">
        <h1 class="title">Adoções</h1>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="infos">
                    <div class="texto">
                        <h3>Adotados</h3>
                    </div>
                    <div class="trem">
                        <h2>{{adotados}}</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="infos">
                    <div class="texto">
                        <h3>Aguardando</h3>
                    </div>
                    <div class="trem">
                       <h2> {{agua}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="botao-add">
        <button class="btn-add"><a href="/add-adocao/:0">Adicionar nova adoção</a></button> 
    </div>
    <div class="content">
        {{#if alerta}}
        <div class="alert alert-success" role="alert">
            {{alerta}}
        </div>
        {{/if}}
        <div class="galeria">
            {{#if d}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Adotante</th>
                        <th scope="col">Animal</th>
                        <th scope="col">Funcionario</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each d}}
                    <tr>
                        <td>{{AdoNome}} </td>
                        <td>{{nome}}</td>
                        <td>{{FuncNome}}</td>
                        <td>{{{dia}}}</td>
                        
                        <td>
                            <a href="/edit-adocao/{{IDAdocao}}" class="editar"><i class='bx bxs-edit'></i></a>
                            <a href="/excluir-adocao?id={{IDAdocao}}" class="excluir"><i class='bx bx-x-circle'></i>
                                </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="nada">
                <p>Ops! Parece que não temos dados no sistema!</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>
</div>

<style>
    button a {
        text-decoration: none;
    }

    .botao-add {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0;
        padding: 0 2rem;
        width: 80%;
    }

    .btn-add {
        background-color: #c6d982;
        border: none;
        border-radius: 6px;
        padding: 10px;
    }

    .btn-add a {
        color: #fefefe;
        text-decoration: none;
    }

    .btn-add:hover {
        background-color: #a3bf3b;
    }

    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .col {
        background-color: #c6d982;
        border-radius: 6px;
    }

    .col:first-child {
        margin-right: 1rem;
    }

    .content {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }



    .dinheiro {
        background-color: #a3bf3b;
    }

    .dinheiro,
    .racao {
        border-radius: 6px;
        text-align: center;
        width: 80%;
    }

    .editar {
        color: #bf814b;
    }

    .excluir {
        color: #ed1b2e;
    }

    footer {
        margin-top: 2rem;
    }

    .galeria {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }

    .racao {
        background-color: #bf814b;
    }

    td a {
        text-decoration: none;
    }

    .title {
        margin: 2rem 0;
    }

    .trem{
        padding: 2rem;
    }

    @media screen and (max-width: 1023px) {
        .botao-add {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
    }
</style>