<div class="caixa">
    <div class="titulo">
        <h1 class="title">Adotantes</h1>
    </div>
    <div class="botao-add">
        <button class="btn-add"><a href="/add-ado">Adicionar novo adotante</a></button>
    </div>
    <div class="content">
        <div class="galeria">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 middle">
                {{#if func}}
                {{#each func}}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">
                            <ul class="info">
                                <li class="nome">{{Nome}}</li>
                                <li>Telefone: {{Telefone}}</li>
                                <li>Endereço: {{Endereco}}</li>
                                {{#if Historico}}
                                <div class="adopted">
                                    <li class="adotado">Já adotou</li>
                                </div>
                                {{else}}
                                <div class="waiting">
                                    <li class="adocao">
                                        Não adotou
                                    </li>
                                </div>
                                {{/if}}
                            </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/add-adocao/0" class="add">Adoção</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/edit-ado/{{CPF}}">Editar</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary excluir"><a
                                            href="/excluir-ado?id={{CPF}}">Excluir</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="nada">
                    <p>Ops! Parece que não temos adotantes!</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<style>
    button a {
        text-decoration: none;
    }

    .col {
        width: 300px;
    }

    .adopted {
        background-color: #a3bf3b;
        color: #fefefe;
    }

    .adopted,
    .waiting {
        border-radius: 6px;
        text-align: center;
        width: 100%;
    }

    .adopted li::before,
    .waiting li::before {
        content: none !important;
    }

    .botao-add {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0;
        padding: 0 2rem;
        width: 80%;
    }

    .btn-add {
        background-color: #c6d982;
        border: none;
        border-radius: 6px;
        padding: 10px;
    }

    .btn-add a {
        color: #fefefe;
        text-decoration: none;
    }

    .btn-add:hover {
        background-color: #a3bf3b;
    }

    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    .excluir {
        background-color: #ed1b2e;
        border: none;
    }

    .excluir:hover {
        background-color: #ad0311;
    }

    .excluir a {
        color: #fefefe;
        text-decoration: none;
    }

    footer {
        margin-top: 2rem;
    }

    .galeria {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    img {
        height: auto;
        max-height: 194.85px;
        max-width: 371.33px;
        width: auto;
    }

    .info li {
        list-style: none;
    }

    .info li::before {
        content: "\1F43E ";
    }

    .middle {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }

    .nada {
        width: 100%;
    }

    .nome {
        font-size: 20px;
    }

    .nome::before {
        content: none !important;
    }

    .titulo {
        height: 50% !important;
        margin: 1rem 0;
        padding: 1.5rem;
    }

    .waiting {
        background-color: #ed1b2e;
        color: #fefefe;
    }

    @media screen and (max-width: 1023px) {
        .botao-add {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
    }
</style>