<div class="caixa">
    <div class="titulo">
        <h1>Editar Adotante</h1>
    </div>
    {{#if mensagem}}
    <div class="alert alert-danger" role="alert">
        {{mensagem}}
    </div>
    {{/if}}
    <div class="caixote">
        <form action="/edit-ado" method="POST" class="formulario">
            <div class="linha">
                <div class="input-group mb-3 linhap">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                    <input required type="text" class="form-control" placeholder="Totó" aria-label="Nome"
                        aria-describedby="basic-addon1" name="Nome" value="{{ objConta.Nome }}">
                </div>
                <div class="linhap">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Telefone</span>
                        <input required type="text" class="form-control" placeholder="xxxxxxxxxxx" aria-label="Nome"
                            aria-describedby="basic-addon1" name="Telefone" value="{{ objConta.Telefone }}"
                            autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="linha">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Endereço:</span>
                    <input required type="text" class="form-control" placeholder="2 anos"
                        aria-label="Tipo de Colaborador:" aria-describedby="basic-addon1" name="Endereco"
                        value="{{ objConta.Endereco }}" autocomplete="off">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Já adotou?</label>
                    <select required class="form-select" id="inputGroupSelect01" name="Historico">

                        {{#if objConta.Historico}}
                        <option selected value="1">Sim</option>
                        <option value="0">Não</option>
                        {{else}}
                        <option value="1">Sim</option>
                        <option selected value="0">Não</option>

                        {{/if}}
                    </select>
                </div>
            </div>
            <div class="linha">
                <div class="linha-f">
                    <button class="btn-cancel"><a href="/adotantes">Cancelar</a></button>
                    <button class="btn-go" type="submit">Editar</button>
                </div>
            </div>
            <input type="hidden" name="id" value="{{ objConta.CPF }}">

        </form>
    </div>
</div>

<style>
    .alert {
        transition: 0.5 ease;
    }

    .btn-cancel,
    .btn-go {
        border: none;
        border-radius: 6px;
        padding: 5px;
    }

    .btn-cancel {
        background-color: #a3bf3b;
    }

    .btn-cancel a {
        color: #fefefe;
        text-decoration: none;
    }

    .btn-go {
        background-color: #bf814b;
        color: #fefefe;
    }

    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .caixote {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .formulario {
        background-color: rgba(198, 249, 130, 0.7);
        border-radius: 6px;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 80%;
    }

    .linha {
        margin: 1rem 0;
    }

    .linha,
    .linha-f {
        align-items: center;
        display: flex;
        gap: 1%;
        justify-content: space-evenly;
    }

    .linha-f {
        width: 50%;
    }

    .linhap {
        width: 49.5%;
    }

    .titulo {
        height: 30%;
        margin: 1.5rem 0;
    }

    @media screen and (max-width: 1023px) {

        .formulario,
        .linha {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .linha {
            margin: 0;
        }

        .linhap,
        .linha-f {
            width: 100%;
        }

    }
</style>