<div class="caixa">
    <div class="titulo">
        <h1>Tem certeza que deseja excluir?</h1>
    </div>
    <div class="caixote">
        {{#if f}}
        {{#each f}}
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">{{{Nome}}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Endereço: {{{Endereco}}}</li>
                <li class="list-group-item">Telefone: {{{Telefone}}}</li>
                {{#if Historico}}
                <div class="adopted">
                    <li class="adotado">Já adotou</li>
                </div>
                {{else}}
                <div class="waiting">
                    <li class="adocao">
                        Não adotou
                    </li>
                </div>
                {{/if}}
            </ul>
            <div class="card-body">
                <a href="/adotantes" class="card-link">Cancelar</a>
                <a href="/deletar-adotante?id={{CPF}}" class="card-link excluir">Excluir</a>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<style>
    .adopted {
        background-color: #a3bf3b;
        color: #fefefe;
    }

    .adopted,
    .waiting {
        border-radius: 6px;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    .adopted li::before,
    .waiting li::before {
        content: none !important;
    }

    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card {
        margin: 2rem 0;
    }

    .card-link {
        text-decoration: none;
    }

    .card-title{
        text-align: center;
        padding: 15px;
    }

    .invisivel {
        display: none;
    }

    .titulo {
        height: 30%;
        margin: 1.5rem 0;
    }

    .waiting {
        background-color: #ed1b2e;
        color: #fefefe;
    }
</style>