<div class="caixa">
    <div class="titulo">
        <h1>Tem certeza que deseja excluir?</h1>
    </div>
    <div class="caixote">
        {{#if f}}
        {{#each f}}
        <div class="card" style="width: 18rem;">
            {{#if foto}}
            <img width="100%" height="100%" fill="#55595c" src="{{foto}}"></img>
            {{else}}
            <img width="100%" height="100%" fill="#55595c" src="assets/img/logog.svg"></img>
            {{/if}} <div class="card-body">
                <h5 class="card-title">{{{Nome}}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tipo de Colaborador: {{{Tipo_Colab}}}</li>
                <li class="list-group-item">Cargo: {{{Cargo}}}</li>
                <li class="list-group-item">Matrícula: {{{CPF}}}</li>
                {{#if Salario}}
                <li class="list-group-item">Salário: {{{Salario}}}</li>
                {{else}}
                <li class="list-group-item">Salário: não se aplica</li>
                {{/if}}
                <li class="list-group-item">Contato: {{{email}}}</li>
            </ul>
            <div class="card-body">
                <a href="/funcionarios" class="card-link">Cancelar</a>
                <a href="/deletar?id={{CPF}}" class="card-link excluir">Excluir</a>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<style>
    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card {
        margin: 2rem 0;
    }

    .card-link {
        text-decoration: none;
    }

    .titulo {
        height: 30%;
        margin: 1.5rem 0;
    }
</style>