<div class="caixa">
    <div class="titulo">
        <h1 class="title">Funcionários</h1>
    </div>
    <div class="botao-add">
        <button class="btn-add"><a href="/add-func">Adicionar novo funcionário</a></button>
    </div>
    {{#if alerta}}
    <div class="alert alert-success" role="alert">
        {{alerta}}
    </div>
    {{/if}}
    <div class="content">
        <div class="galeria">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 middle">
                {{#if func}}
                {{#each func}}
                <div class="col aaaa">
                    <div class="card shadow-sm ola">
                        {{#if foto}}
                        <img width="100%" height="100%" fill="#55595c" src="{{foto}}"></img>
                        {{else}}
                        <img width="100%" height="100%" fill="#55595c" src="assets/img/logog.svg"></img>
                        {{/if}}
                        <div class="card-body">
                            <p class="card-text">
                            <ul class="info">
                                <li class="nome">{{{Nome}}}</li>
                                <li>Colaborador: {{{Tipo_Colab}}}</li>
                                <li>Cargo: {{{Setor}}}</li>
                                <li>Matrícula: {{{CPF}}}</li>
                                {{#if Salario}}
                                <li>Salário: R${{{Salario}}}</li>
                                {{else}}
                                <li>Salário: não se aplica</li>
                                {{/if}}
                                <li>Contato: {{{email}}}</li>
                            </ul>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                       <a href="/edit-func/{{CPF}}">Alterar</a>  </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary btn-excluir"><a
                                            href="/excluir?id={{CPF}}" class="excluir">Excluir</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

<style>
    .adopted {
        background-color: #a3bf3b;
        color: #fefefe;
    }

    .adopted,
    .waiting {
        border-radius: 6px;
        text-align: center;
        width: 60%;
    }

    .botao-add {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding: 0 2rem;
        width: 80%;
    }

    .btn-add {
        background-color: #c6d982;
        border: none;
        border-radius: 6px;
        padding: 10px;
    }

    .btn-add a {
        color: #fefefe;
        text-decoration: none;
    }

    .btn-add:hover {
        background-color: #a3bf3b;
    }

    .btn-excluir {
        background-color: #ed1b2e;
        border: none;
    }

    .btn-excluir:hover {
        background-color: #ad0311;
    }

    .col {
        width: 340px;
    }

    .caixa {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }

    .galeria {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 2rem;
        width: 80%;
    }

    .card img {
        height: auto;
        max-height: 194.85px;
        max-width: 371.33px;
        width: auto;
    }

    .excluir {
        color: #fefefe;
        text-decoration: none;
    }

    .excluir:hover {
        color: #fefefe;
    }

    .info li {
        list-style: none;
    }

    .info li::before {
        content: "\1F43E ";
    }

    .middle {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }

    .nome {
        font-size: 20px;
    }

    .info .nome::before {
        content: "";
    }

    .titulo {
        height: 50% !important;
        margin: 1rem 0;
        padding: 1.5rem;
    }

    .waiting {
        background-color: #ed1b2e;
        color: #fefefe;
    }
</style>